<% layout('layout') -%>
<% block('title',page_title) %>
<% need_ziggeo = 1 %>
            <div id="content" class="container">
                <h1 class="page-header"><%=page_title%></h1>
                <div class="row">
                <% for(var i =0; i < videos.length; i++){ %>
                    <div class="col-xs-12 col-sm-6 col-md-4" id="container-<%=videos[i].token%>">
                        <div class="thumbnail">
                            <ziggeoplayer
                                ziggeo-video='<%= videos[i].token %>'
                                ziggeo-theme="modern"
                            ></ziggeoplayer>
                            <div class="caption">
                                <p>
                                    <a href="/video/<%= videos[i].token %>" class="btn btn-xs btn-success">Single Video</a>
                                    <a href="/download-video/<%= videos[i].token %>" class="btn btn-xs btn-warning" download>Download Video</a>

                                    <a href="/download-image/<%= videos[i].token %>" class="btn btn-xs btn-primary" download>Download Image</a>
                                    <a class="delete-btn btn btn-xs btn-danger" data-videoid="<%= videos[i].token %>">Delete Video</a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready (function (){
                    $('.delete-btn').click (function (){
                        var video_id = $(this).data('videoid');
                        $(this).html('Deleting...')
                        $.ajax({url: '/video/'+video_id,method: "DELETE"}).done(function(){
                            $('#container-'+video_id).fadeOut ("slow", function (){
                                $('#container-'+video_id).remove(); 
                            })
                        });
                    });
                });
            </script>